<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
template="/templates/modeloSistema.xhtml"
>

<ui:define name="menu">
<ui:include src="/includes/menu.xhtml" />
</ui:define>

<ui:define name="conteudo">

</ui:define>

</ui:composition>

