<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form>
		<p:menubar>

			<p:submenu label="Arquivo">
				<p:menuitem value="Empresa" url="#" />
				<p:menuitem value="Site" url="#" />
				<p:menuitem value="Sair" url="#" />
			</p:submenu>

			<p:submenu label="Cadastros">
				<p:menuitem value="Fornecedores" outcome="/pages/fornecedores.xhtml" />
				<p:menuitem value="Produtos" outcome="/pages/produtos.xhtml" />
			</p:submenu>

			<p:submenu label="Configurações">
			</p:submenu>

			<p:submenu label="Ajuda">
				<p:menuitem value="Sobre" url="#" />
			</p:submenu>

		</p:menubar>
	</h:form>

</ui:composition>